.contactForm{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2,1fr);
    grid-column-gap: 2rem;
    input{
        font-size:large;
        height:fit-content;
    }
    .submitButton{
        color: darkblue;
        border-color: darkgray;
        border-radius: 5px;
        padding: 0.4rem;
        margin-top: 1rem;
    }
    textarea{
        resize: none;
    }
    label{
        h2{
            margin-top: 0;
        }
    }
}
