.scMap, .scList, .scCheck{
  font-weight: bold;
  font-size: xx-large;
  display: flex;
  width: 260px;
  height: 260px;
  border-radius: 15px;
  transition-property: background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  margin-bottom: 0.875rem;
  text-align: left;
  margin: 1rem;
}
.scMap{
  color: white;
  background-color: teal;
}

.scList{
  color: darkslategray;
  background-color: lightblue;
}

.scCheck{
  color: chocolate;
  background-color: khaki;
}
.scParent{
  display: flex;
  flex-direction:row;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  height: fit-content;
  padding: 0.875rem;
  transition-property: background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.scMap:hover{
  background-color: seagreen;
}
.scList:hover{
  background-color: paleturquoise;
}
.scCheck:hover{
  background-color: navajowhite;
}
.scMapText{
  padding-top: 1rem;
}
.cross{
  background: red;
  height: 100px;
  position: relative;
  width: 20px;
  top:57%;
  left: 73%;
}
.cross:after{
  background: red;
  content: "";
  height: 20px;
  left: -40px;
  position: absolute;
  top: 40px;
  width: 100px;
}
a{
  text-decoration: none;
}
