#fullSize{
  width: 100%;
  text-align: center;
}
.aboutCon{
  margin-top: 5rem;
  display:block;
  flex-direction: row;
  width:100%;
}
.aboutSec{
  float:left;
  flex-direction: row;
  text-align:left;
  margin: 1rem;
  border-radius: 7px;
  padding: 2rem;
  line-height: 1.5rem;
  .aboutList{
    li{
      border: none;
    }
    li:hover{
      color:darkblue;
    }
  }
}